{deps,
 [
  {folsom, ".*", {git, "https://github.com/basho/folsom.git", {branch, "boundary-0.7.1+basho-bench-float"}}},
  {lager, ".*", {git, "https://github.com/leo-project/lager", {branch, "for-leofs"}}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v3.0.4"}}},
  {getopt, ".*", {git, "https://github.com/jcomellas/getopt", {tag, "v0.4"}}},
  {leo_s3_libs, ".*", {git, "https://github.com/leo-project/leo_s3_libs.git", {branch, "master"}}},
  {cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", {tag, "1.0.0"}}}
 ]}.

{erl_opts, [{src_dirs, [src]},
            {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager, getopt, bear, folsom, ibrowse, goldrush, leo_commons, leo_s3_libs, cowlib]}.
{escript_emu_args, "%%! +K true -rsh ssh\n"}.
%% {escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE -rsh ssh\n"}.
